header {
    height: 100px;
    background-color: #444444;
    color: #888888;
    text-decoration: none;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-bottom: none;
  }
  
  header ul li a:hover {
    background-color: #000;
  }
  

nav {
    margin: 0;
    padding: 0;
    width: 100vw;
}

header img {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
}

body > img:first-of-type {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  div > div:first-child {
    float: left;
  }
  
  div > div:nth-child(2) {
    float: left;
  }
  
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 990px;
  }

  div:nth-of-type(3) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  div:nth-of-type(3) > img {
    order: 1;
  }
  
  div:nth-of-type(3) > h2 {
    order: 2;
    margin-left: auto;
  }
  
  div:nth-of-type(3) > p {
    order: 3;
    margin-left: auto;
    display: inline-block;
    vertical-align: top;
  }
  
  div:nth-of-type(3) > button {
    order: 4;
    margin-left: auto;
    margin-top: 10px;
    border: none;
    padding: 10px 30px;
    background: #000000;
    color: #ffffff;
    font-size: 18px;
  }
  